<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.intent.action.MEDIA_MOUNTED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Required only if your app needs to access images or photos
     that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Required only if your app needs to access videos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required only if your app needs to access audio files
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".UserPoint"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/sookmyung_logo_circle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2"

        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FriendActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPracticeActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowPracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPracticePlayActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity1" />
        </activity>
        <activity
            android:name=".ViewFriendPracticePlayActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PlayActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".PlayPracticeActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ShowAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewAnalysisActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EditPracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPracticeActivity1"
            android:screenOrientation="portrait" />
        <activity android:name=".GraphActivity"/>
        <activity android:name=".PieChart"/>
        <activity android:name=".LineChart"/>
        <activity android:name=".BarChart"/>
        <activity android:name=".ScatterPlot" />

        <activity android:name=".CommunityActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DetailActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CommunityActivity" />
        </activity>
        <activity android:name=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CommunityActivity" />
        </activity>
        <activity android:name=".ListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PublicPracticeList"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendActivity4" />
        </activity>
        <activity android:name=".AddFriendActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>